[2019-06-10 14:36] nipunbatra opened #1 "Remove unnecessary lines"
https://github.com/nilmtk/nilmtk-contrib/blob/0bc43ef550c632d30af9be8ad784a3181c3108e7/disaggregate/mean.py#L13

Also,
[code]

[2019-06-10 14:39] nipunbatra commented on #1
@raktim2015 @ayushp20
Please correct this asap. Also, I do not see the disaggregate method?!

[2019-06-11 12:21] #1 closed

[2019-10-21 14:44] HouKun-github opened #9 "No module named 'nilmtk.disaggregate"
How does nilmtk-contrib work with nilmk, what is the specific operation under Anacoda, thank you, I have the same problem as the previous scholar, "No module named 'nilmtk.disaggregate'"

[2019-10-23 20:15] Rithwikksvr commented on #9
Hellow @hk123456789Q  Sorry for not getting back to you sooner. Currently the repository  is in development phase. In the meanwhile, you can copy the api.py, losses.py and the algorithms to the disaggregate folder.

Then you can do the respective imports. Feel free to get back to us in case of any issues!

[2019-10-24 13:19] hk123456789Q commented on #9
Hi，thank you for your help,I have solved the above problem, but there is a new problem. It is about the neural-disaggregator. I can't configure the corresponding development environment. Do you have any suggestions?

[2019-10-24 14:31] hk123456789Q commented on #9
Hi，thank you for your help,I have solved the above problem, but there is a new problem. It is about the neural-disaggregator. I can't configure the corresponding development environment. Do you have any suggestions?just like this  “Using TensorFlow backend.”

[2019-10-25 18:03] Rithwikksvr commented on #9
Hello @hk123456789Q, to use the neural-disaggregation algorithms you can install keras with tensorflow backend. We are currently in the process of developing an conda installer for nilmtk-contrib. Will update you once it is done.

First, create a new environment. Then install nilmtk using conda(How to install is there in nilmtk documentation). Then, you install keras in the same environment and th

[2019-10-28 03:11] hk123456789Q commented on #9
Thank you for your reply, I am trying to configure the development environment, if there is any problem, I will get in touch with you. Thanks again

[2019-11-09 14:32] klemenjak opened #10 "Select a specific appliance in the API"
Hi,

thanks for providing such a great extension to NILMTK!

I don't have an issue but a question on the API. In cases where a dataset has multiple appliances of the same kind, how do I select a specific appliance? For instance, how do I select fridge number two if there is more than one fridge in a MeterGroup in your API?

Let me explain what I mean with the help of REDD. I loaded the HDF5 versio

[2019-11-20 06:31] Rithwikksvr commented on #10
Hello @klemenjak!

I apologize for the really late reply. The API does not support choosing an appliance manually. If you wish to choose it manually, you can load the data as list of data frames and use the nilmtk-contrib algorithms to train and test. Then you can compute the metrics of your choice.

But again the process is just similar to the process of training in the original nilmtk. Definitel

[2019-11-20 07:47] klemenjak commented on #10
Hi,
thank you so much for your reply. Highly appreciated. I will try to do that :)

[2019-11-20 14:32] klemenjak opened #11 "sample rate vs. sample period"
Hi,

it's me again. I discovered a "naming conflict" in the source code. Let me explain:

The class API contains a variable *sample_period*. I guess this variable holds the time between two samples in seconds? A little down the code you fetch *params['sample_rate']* from the definition of the experiment. As I looked up in the Jupyter notebooks, *sample_rate* is supposed to hand over the sample per

[2019-11-23 14:31] nipunbatra commented on #11
Good point @klemenjak

@Rithwikksvr  @PMeira Let us use `sample_interval` consistently across NILMTK and NILMTK-contrib? Thoughts?

[2019-11-25 08:07] Rithwikksvr commented on #11
Yes @nipunbatra  we need to use sample_interval. Also, we need to specify if user wishes to downsample the data.

[2019-12-05 03:23] Hessen525 opened #12 "How to load dataset likes Redd, Ukdale etc?"
Hi, sir!
I have looked at your notebook example, but I still have some questions!
The example based on dataport dataset, when I change path directory to redd in my computer, It showed "KeyError: 10"

Could you give an example of how to use your API based on redd dataset?
![redd1](https://user-images.githubusercontent.com/25447481/70201408-89358f80-1751-11ea-96c8-c8505b405b38.png)
![redd2](https://

[2019-12-05 03:30] willdbk commented on #12
Hi,
I do not use Jupyter for my NILM experiments and instead just use regular Python and the following was my process for using REDD datasets in NILMTK. The first step is getting the datasets which just involves going on this website: http://redd.csail.mit.edu/, sending an email to the email listed on the site and you will receive an automated response with a username and password.
Once you have t

[2019-12-05 05:17] nipunbatra commented on #12
@Hessen525 REDD doesn't have 10 buildings. It has 6 buildings. Thus, in both test and train, the building number should be between 1 and 6.

[2019-12-05 05:17] #12 closed

[2019-12-05 07:28] Hessen525 commented on #12
@nipunbatra Thanks， It works!

[2019-12-09 14:34] HOSSEINFEIZ opened #13 "loading pretrain model"
how is it possible to use the API for loading a pre-train model?

[2019-12-10 09:46] HardyChina opened #14 "Question about rnn"
In the rnn model input_shape=(input_window_width, 1)and output isDense(1, activation='linear'))，
that means input a sequence output a  point？

[2019-12-10 09:53] Rithwikksvr commented on #13
Currently not all the models support pre-trained models. Mean algorithm is one of them that supports pre trained model.

Specify this in the algorithm 'pretrained-model-path:'folder_name'.'  This is for loading a pre-trained model.

Specify this in the algorithm 'save-model-path':'folder_name' to save a model. This is  for saving thr model.

[2019-12-10 09:55] Rithwikksvr commented on #14
Yes, the RNN takes an input sequence and outputs a point

[2019-12-10 09:55] #14 closed

[2019-12-10 09:55] Rithwikksvr commented on #13
We are looking for contributors to contribute the part for saving and loading algorithms.

[2019-12-10 09:55] #13 closed

[2019-12-10 13:55] Hessen525 opened #15 "no output graph."
Hi Sir,
my output as following without any graph like your api_example.
![output](https://user-images.githubusercontent.com/25447481/70535098-68c56500-1b97-11ea-9232-101a241f84ac.png)

![output2](https://user-images.githubusercontent.com/25447481/70535265-b2ae4b00-1b97-11ea-847c-f2c89b753b4d.png)

Could you give me a idea how to fix it? Thanks!

[2019-12-12 16:21] klemenjak opened #16 "API + UK-DALE"
Hi,

I tried to use the dataset UK-DALE in some experiments. Could it be that there are some problems with that particular dataset?

This is the error message I get for DAE:

[code]
I use the latest public version of UK-DALE.

Thanks!

[2019-12-12 16:25] Rithwikksvr commented on #16
Hello @klemenjak, the experiments we used were having data for 2 months. I think the experiment you are trying to do, needs more GPU memory. The experiments we conducted were using 8GB GPU's. If you reduce the timeframe of the algorithm, I think you will be able to produce the results.

[2019-12-12 16:25] Rithwikksvr commented on #15
Hello,

Can you please tell us clearly what the issue was?

[2019-12-12 16:28] klemenjak commented on #16
Hi,

I see. So it's related to memory limits and not a bug in the software? Okay that's another topic then. However, here is the experiment I was planning to run:

[code]

[2019-12-12 16:32] Rithwikksvr commented on #16
I see, the experiment was for a duration of 6 months. That explains why it is unable to run. Can you try algorithms such as Mean?(It doesn't depend much on memory)

[2019-12-12 16:36] klemenjak commented on #16
I am testing what NILMTK algorithms can be used for such a big duration at the moment. Will provide feedback on that. Do you see any chance for me to fix this problem so that I can use DAE?

Btw, I haven't had such issues on REFIT for the same durations.

[2019-12-12 16:41] Rithwikksvr commented on #16
@klemenjak Give me sometime. I will get back to you with a code snippet. Which should help you train models of a larger timeframe, but the training process will be much slower. I'll explain in brief how it works

Assume the data can be made into k parts:

[code]

This is already a part of NILMTK-contrib!

[2019-12-12 16:48] klemenjak commented on #16
Thanks! You guys are amazing. Are you talking about that *train_chunk_wise* function? I see that you can set a *chunk_size*.
Question 1: What unit is that? seconds or number of samples?
Question 2: As NILMTK expert, what chunk_size would you recommend?

[2019-12-12 16:50] Rithwikksvr commented on #16
Exactly, that is the function!

Q1: The number of samples
Q2: I am not an expert on NILM. But, I think a chunk size that covers a month should do the trick.

[2019-12-12 16:51] Rithwikksvr commented on #16
@nipunbatra What do you think should be the ideal chunk_size parameter for training a model?

[2019-12-12 17:17] klemenjak commented on #16
Hi,

good news. I was able to enter chunk wise training by setting a chunk size and enabling it in the DAE line.

[code]

Unfortunately, I ran into the next issue:

[code]

Have you seen that before?

[2019-12-12 17:22] MingjunZhong commented on #16
This is just my thought. I am not sure what chunk_size you mean. From the previous pseudo code, I guess it means the input size of the network. If this was the case, choosing a chunk size is a research question as it is a hyperparameter of the model.
If the chunk size was the training data fed into the model, bigger is better because it is more representative for the distribution. If the whole tra

[2019-12-12 17:24] Rithwikksvr commented on #16
@klemenjak Give me some time to reproduce the issue. I will get back to you.

[2019-12-12 17:29] Rithwikksvr commented on #16
@MingjunZhong chunk_size means the number of sample to be fed in to the network. You are right, it is indeed a hyper-parameter. But, what should be an ideal number for training models such as neural networks?

In the case of neural networks, load all the data at once or loading data chunk-wise doesn't make difference. The algorithms and the API were developed that way.

Chunk-wise training algorit

[2019-12-12 17:32] klemenjak commented on #16
OK, maybe I have written that comment too fast. Here is what I mean. Let's have a look at line 60 of the [api.py](https://github.com/nilmtk/nilmtk/blob/master/nilmtk/api.py):

[code]

From this follows that users can set a *chunk_size* for every experiment, just like I did. For instance:

[code]
If you scroll down to line 85, you can see that if that *chunk_size* is defined, the API will do chunk

[2019-12-12 17:40] Rithwikksvr commented on #16
Yes, the same `chunk_size `will be used for all the algorithms in the experiment. I am not an expert to speak about the idea value for the chunk_size.

I request @MingjunZhong @nipunbatra  to discuss more about choosing an optimal value for `chunk_size`

[2019-12-12 17:42] MingjunZhong commented on #16
OK then chunk size is a hyperparameter. The best is to do experiments to choose this number and cross validation could be the one. Heuristically I would assume the chunk should at least cover the duration when the appliance was using. For example  kettle could be 5 minutes and I would try 10 minutes for example; dish washer could last more than 140 minutes and so chunk size should be larger.

[2019-12-12 18:20] klemenjak commented on #16
@Rithwikksvr you were right about the memory. As soon as I change the sampling interval from 10s to 60s, the experiment runs without any problems.

[2019-12-12 18:29] Rithwikksvr commented on #16
@klemenjak Also, remember that sample_period simply sample's the data at the specified value. **It doesn't downsample it**.

[2019-12-12 21:16] klemenjak commented on #16
Thanks for asking @Rithwikksvr well, it depends.

That *chunk_wise_training* doesn't work at all for me, even for a sampling interval of 60s.

[code]

The default *train_jointly* training works, if I change the sample interval from 10s to 30s. I guess I will face this trade-off and continue with 30s.

[2019-12-13 16:38] Rithwikksvr commented on #16
Hello @klemenjak, you need to change one line of code in _dae.py_.

Do the following changes
From
`self.chunk_wise_training = params.get('chunk_wise_training',False)`

To
`self.chunk_wise_training = params.get('chunk_wise_training',True)`

Even the testing will be done on a chunk by chunk basis.

I'll make the changes public, once I confirm that it is bug free.

[2019-12-13 16:55] klemenjak commented on #16
Hi,

thanks for your message. I already did that in the definition of the experiment:

[code]

I really appreciate your efforts. I should tell you, however, that I have given up experiments on UK-DALE and moved on to REFIT. Anyway, I think other's will encounter this issue as well.

[2019-12-14 02:37] Hessen525 commented on #15
embarrased， I did not change False to True for plotting the graph!

[2019-12-15 14:20] Hessen525 commented on #16
@Rithwikksvr Hi, sir
I have a question about chunk_size.
What is the purpose of using chunk_size? is that for parallel training?

[2019-12-15 14:27] Rithwikksvr commented on #16
Hi @Hessen525 ,

Sometimes the dataset can be really large. It might not fit into the RAM. Then we can't train the model. So, we need to load a subset of samples from the original set and train on them, and load another subset and train and this process goes on.

Let's say chunk_size=1000. Then the algorithm loads the first 1000 samples, trains on them, then loads the next 1000 samples and trains

[2019-12-16 12:08] Hessen525 opened #17 "Bug found when predict if train more than one application"
Hi,
![CT6D277`}UXAIO6 6OAOSJF](https://user-images.githubusercontent.com/25447481/70905564-2b515380-203f-11ea-9cfd-6210c30ecfec.png)

![)T74%HKZ ~KNAQR1{1KSMJJ](https://user-images.githubusercontent.com/25447481/70905746-9d299d00-203f-11ea-96de-f3e03f253508.png)

It always occurs error if train more than one application

[2019-12-16 13:18] Rithwikksvr commented on #17
Resolved the issue @Hessen525

Let us know if it still doesn't work!

[2019-12-16 13:18] #17 closed

[2019-12-16 13:18] #15 closed

[2019-12-20 15:49] alexander-belikov opened #18 "add setup.py"
why `cloning the repository in the Lib/Site-packages in your environment`
why not just add setup.py?

[2020-01-04 13:33] Hessen525 opened #19 "experiment result"
Hi,
Thanks for your awesome work!  I have some question about the experiments as following:
1. How to get a similar result as you post
![C 2VZM 2KZ88@7K@GDC5SI0](https://user-images.githubusercontent.com/25447481/71766225-8ab4cc00-2f38-11ea-9610-47350b40c97c.png)
I run your code and set the same dataset and epochs for every algorithm, but the result is different from yours.

2. Do you think this i

[2020-01-05 17:48] HOSSEINFEIZ opened #20 "excessive *.h5 files for each epoch"
Thanks for the software. I wonder if it is possible to change some parts of the API code so that it removes the h5 file of each chunk and just gives you the last h5 file. This way, we only have one h5 file for each epoch.

[2020-01-13 11:40] Geckao commented on #19
I would like to point out that I have the exact same problem as you, regarding your first question. In fact, I wasn't able to reproduce any result of the article.
I believe there is a bug somewhere in the API, I therefore have no clue where to look.

[2020-01-13 11:44] Rithwikksvr commented on #19
Hello @Geckao @Hessen525

I was busy during the past few days, so I couldn't get back to you. Recently, I made a change in the API, that was the reason for this issue. Give me sometime, I'll get the issues resolved soon!

[2020-01-13 11:56] Geckao commented on #19
Hello @Rithwikksvr

Thank you for your quick reply. Do you know if there is a version I can revert to in order to remove this issue ? If so, which one ?

Thank you !

[2020-01-14 07:28] Wusir2018 opened #21 "how many metrics can we use now?"
Hello everyone,
Thanks for your contribution! But I have a question about the metrics.
How many metrics can we use now? I just find `mae` and `rmse`, I didn't find `F1 score` and `accuracy` and others.
Thank you very much!

[2020-01-14 09:31] Wusir2018 opened #22 "I can't use AFHMM and AFHMM_SAC"
Hello everyone,
Thanks for your contribution!
I can use the `DAE, Seq2Point, Seq2Seq, RNN, WindowGPU`, but when I change them to `AFHMM and AFHMM_SAC`
![contribute](https://user-images.githubusercontent.com/51500032/72331776-b59adf00-36f3-11ea-9c99-13444848cddc.png)

get the error:

`Started training for  AFHMM
Joint training for  AFHMM
............... Loading Data for training ...................

[2020-01-14 09:38] Wusir2018 commented on #22
I download the `nilmtk-contrib.zip` and decompress them to the `Lib/site-packages` and change the name as `nilmtk_contrib`. I didn't do any other thing, so my steps is right?

[2020-01-15 03:32] Wusir2018 commented on #9
Hello @hk123456789Q  @Rithwikksvr ,
I can use the `DAE, Seq2Point, Seq2Seq, RNN, WindowGPU`,  but  I can't use `AFHMM and AFHMM_SAC`.
I download the `nilmtk-contrib.zip` and decompress them to the `Lib/site-packages` and change the name as `nilmtk_contrib`. I didn't do any other thing, so are my steps right?
the error detail [https://github.com/nilmtk/nilmtk-contrib/issues/22](url)
Could you help

[2020-01-15 15:57] klemenjak commented on #21
Hi,

you'll find the metrics here: https://github.com/nilmtk/nilmtk/blob/master/nilmtk/losses.py

best,
C

[2020-01-15 17:11] Rithwikksvr commented on #22
The steps are correct. Can you please place the whole code you were using including the dataset and timestamps?

[2020-01-16 02:55] Wusir2018 commented on #21
Hi @klemenjak
Thank you very much! It works!
If I want to use any other metrics like `accuracy`? I just only add function `accuracy` in `losses.py` like this?
![accuracy](https://user-images.githubusercontent.com/51500032/72489329-aed4af00-384e-11ea-8246-386df7dfa37c.png)

[2020-01-16 03:02] Wusir2018 commented on #22
Hi @Rithwikksvr ,
I am sorry that I don't know how to present the code clearly to you. I can only choose screenshots.
Thank you very much!
![111](https://user-images.githubusercontent.com/51500032/72489644-a03ac780-384f-11ea-9ef4-a4d6ac8d2509.png)
![111222](https://user-images.githubusercontent.com/51500032/72489649-a16bf480-384f-11ea-84fa-5fb15db7395e.png)

[2020-01-16 04:43] Rithwikksvr commented on #22
I am working on it. Give me sometime!

[2020-01-16 04:47] Wusir2018 commented on #22
@Rithwikksvr  Thank you very much!

[2020-01-16 07:45] klemenjak commented on #21
I think that could work though I would test it extensively to be sure.

Why do you want to use the accuracy score when F1 is available?

[2020-01-16 08:26] Wusir2018 commented on #21
Hi @klemenjak,
Thank you very much! I have alredy test it and it works!
HHHHHH, I just want to compared with many metrics. `F1 score` is good metric. But I think `accuracy` is common metric, and maybe should be considered, too.
Thank you very much!

[2020-01-16 08:28] klemenjak commented on #21
You are welcome

[2020-01-16 08:41] Wusir2018 commented on #21
@klemenjak  :)
Best Wishes!

[2020-01-16 11:50] Rithwikksvr commented on #19
Hey @Geckao @Hessen525

Once download the latest version of the repository and try using it.

Also, you have been doing the experiment wrong.

The notebook for the experiment mentioned is [this](https://github.com/nilmtk/buildsys2019-paper-notebooks/blob/master/Cross%20Dataset%20Neurals%2C%20CO%2C%20Hart%2C%20FHMM.ipynb)

The table mentioned is from this notebook!

[2020-01-16 11:50] #19 closed

[2020-01-16 13:04] Wusir2018 commented on #21
Hi, @klemenjak
I am so sorry to trouble you again.
I have questions in this code:
![1111](https://user-images.githubusercontent.com/51500032/72527430-b5414600-38a3-11ea-9065-3fc4a3b5f5df.png)
1. if we set appliances as `['fridge','light', 'microwave']`, in `house 1`, we have `three light`, but I test the code, the light is `light_1`, so how can we chose other light?
2. if we set `'power': {'mains'

[2020-01-16 13:22] Rithwikksvr commented on #21
Hey @Wusir2018

1. Currently at the moment, we haven't added the functionality to choose a specific light/appliance.
2. The sum of appliances is not equal to mains, since the total power consists of many other appliances in the household. If you want to have the `totalpower `equal to the sum of appliances, you can use `'artificial_aggregate':True`.

[2020-01-16 13:27] Wusir2018 commented on #21
Hello @klemenjak,
Thanks for your reply.
Your reply is too clear, which helps me a lot.
Thank you very much!  :)

[2020-01-16 13:29] klemenjak commented on #21
I wasn’t the author of the latest reply ;)

[2020-01-16 13:31] Wusir2018 commented on #21
@klemenjak
I am so sorry that I make  this mistake！

[2020-01-16 13:39] Wusir2018 commented on #21
@Rithwikksvr
I am Sorry, I didn't reply to you in the first time. I made a mistake. Please forgive me. Thank you very much for your reply. It's very useful.
Best Wishes!

[2020-01-16 14:52] Rithwikksvr commented on #21
Hello @Wusir2018 no need to apologize. I should have responded in time, but I was busy.

Thanks to @klemenjak for responding!!

[2020-01-16 14:55] klemenjak commented on #21
You are welcome. I don’t think you need to apologize!

[2020-01-16 15:29] Wusir2018 commented on #21
Hey @klemenjak , @Rithwikksvr
Thank you very much! You help me a lot!
I hope to join you in the near future.
Best wishes!  :)

[2020-01-18 07:32] Hessen525 commented on #19
@Rithwikksvr Hi,
I download the newest version of the repository and ukdale database and used the exact same parameters as mentioned in your notebook, but still can not reproduce any result of this article.

[2020-01-18 07:33] Hessen525 commented on #19
@Geckao hi, Could you reproduce the result as the article mentioned right now?

[2020-01-18 08:48] Rithwikksvr commented on #19
@Hessen525 Can you also use the latest copy of api.py in NILMTK? The latest api.py has not been added to an installer, so can you manually just copy the api.py?

Also, just run the notebook specified above. Dont just use the same parameters, use the same training and testing data as well.

[2020-01-21 08:05] Hessen525 commented on #19
Hi, @Rithwikksvr:
Thanks so much for your help, I try to reproduce the experiment by another two computers, but I got same new errors. the steps as following:
1. install nilmtk(as mentioned in nilmtk repo):
      conda create --name nilmtk-env
      conda config --add channels conda-forge
      conda activate nilmtk-env
      conda install -c nilmtk nilmtk
2. download nilmtk-contrib from your repo

[2020-02-03 14:11] hk123456789Q opened #23 "about experiement"
Thank you for your work. I encountered a problem while debugging the project, specifically in the "pandas" package. I don't know if it is a version problem. I hope to get your help. In addition, the data set "dataport.hdf5" and What is "dred.h5"? I didn't find the corresponding data set. If you have any information to share, I would really appreciate it.
![图片](https://user-images.githubusercontent

[2020-02-04 12:08] Rithwikksvr commented on #23
Hello @hk123456789Q

I think you might be using a different version of pandas. Tat might be causing the 'ix' error. As far as I now, it was downgraded after a particular version, restore back to the one for which it works.

The '.h5' files are designed for handling by NILMTK. So, DRED already has a h5 file that is mentioned on its website.

"dataport.h5" can be generated by using NILMTK scripts if

[2020-02-05 03:31] Hessen525 commented on #23
Hello @Rithwikksvr
Could you give some idea for fixing that problem as mentioned in: https://github.com/nilmtk/nilmtk-contrib/issues/19
or more detail for how to make the api work,

THANKS!

[2020-02-05 03:43] hk123456789Q commented on #23
I have probably completed the use of the api, and can basically complete simple basic experiments. The nilmtk library that needs to be imported needs to be basically modified by the author, with little change. For other uses, you can refer to the notes written by the author. In addition, do you have the data set mentioned in the program, I downloaded it is not very convenient, I am happy to commun

[2020-02-05 04:08] Hessen525 commented on #23
@hk123456789Q
I just have REDD and UK-dale. Do you have a Wechat?
 I have no idea why it don't work for the newest version in my two computers(use same steps in which old version working) , both two encounter same error as post.

[2020-02-05 11:11] hk123456789Q commented on #23
I tried to change a version of pandas, using 0.24.2, the program is no problem. Thank you.

[2020-02-05 11:13] #23 closed

[2020-02-15 02:40] Wusir2018 opened #24 "AMPds Data can't run"
Hello everyone,
I can run the algorithm with REDD. When I use AMPds data to test the algorithm, I get the error.  There are pictures about my code and error. I think the timestamp of AMPds  may cause this problem, but I don't know how to solve it.
Could you help me?
Thank you very much!
`code:`
![1](https://user-images.githubusercontent.com/51500032/74580413-08133800-4fdf-11ea-832e-98b13eff5d30.PN

[2020-02-19 08:28] Wusir2018 commented on #22
hello @Rithwikksvr
I am sorry to trouble you again.
Could you help me about this question?
I can't run the algorithm with AMPds data.
Thank you very much!
[https://github.com/nilmtk/nilmtk-contrib/issues/24](url)

[2020-03-10 17:14] Shibumi497 opened #25 "Cannot import FHMM_EXACT"
Hi

I am following the tutorial api and I am facing this problem :
![problem nilmtk disaggregate 2](https://user-images.githubusercontent.com/60926736/76338423-f4ff3980-62f8-11ea-8bae-7078540d3663.png)

I can import the basics (that were already in the first nilmtk if I remember well) as CO, Mean, Hart85, but not FHMM_EXACT. The new ones from the nilmtk_contrib I can call them, but not using __ini

[2020-04-28 08:53] klemenjak opened #26 "DSC Algorithm: Positive constraint not supported for 'lars' coding method"
Hi,

I have been experiencing issues with the DSC algorithm lately:

[code]

I am using:

[code]

Any ideas on how to fix this?

Best,
Christoph

[2020-04-28 13:16] klemenjak commented on #26
Follow-up: downgrading **scikit-learn** to 0.21.3 resolves the problem.

[2020-04-28 13:32] nipunbatra commented on #26
@Rithwikksvr can you look into this?

[2020-04-28 15:45] Rithwikksvr commented on #26
@nipunbatra i'll try to resolve it ASAP!

[2020-04-28 16:02] klemenjak commented on #25
FHMM Exact is found at:

[code]

[2020-05-04 09:38] klemenjak opened #27 "A suggestion for AFHMM and AFHMM SAC"
Hi there,

this is not an issue but rather something I was wondering about.

While running AFHMM and AFHMM + SAC in my experiments, I recognized that those approaches really occupy a lot of CPU power. Even our simulation servers struggle with those algorithms sometimes.

Have you thought about providing a single-thread implementation of **disaggregate_chunk** ? Is it possible to limit the number o

[2020-05-05 06:27] Rithwikksvr commented on #27
Hey @klemenjak

If you increase the `'time_period'` parameter value of the AFHMM or AFHMM-SAC, you can decrease the number of threads.

First, we break the input sequence into multiple chunks of length `'time_period'`. Each of those chunks is given a thread.

So, by increase the value of `'time_period'`, you can decrease the threads.

It takes more time if you increase the `'time_period'` value.

[2020-05-05 07:03] klemenjak commented on #27
Hi,

thank you so much! I will give it a shot!

Cheers,
C

[2020-05-14 08:06] khurramch opened #28 "Facing issue while reproducing the results of train/test across multiple buildings and datasets."
hello,
I need your help to solve this specific issue.I am trying to run the [notebook](https://github.com/nilmtk/buildsys2019-paper-notebooks/blob/master/Cross%20Dataset%20FHMM's%20and%20DSC.ipynb) Here is the error shown while running the code.
![image](https://user-images.githubusercontent.com/34025513/81909121-9188d500-95e3-11ea-823d-7a956d5d8cb3.png)

[2020-05-27 04:51] Wusir2018 commented on #27
Hi @klemenjak
Could you give me a example with `AFHMM` and `AFHMM_SAC`?  I can't run them correctly.
Best,
Wu

[2020-05-27 15:21] klemenjak commented on #27
Hi @Wusir2018,

I haven't tested that so far. Sorry.

[2020-05-27 15:27] Wusir2018 commented on #27
Hey @klemenjak
It doesn't matter. Thank you!

[2020-05-28 12:23] Rithwikksvr commented on #27
HI @Wusir2018

What exactly you aren't able to run?

[2020-05-28 12:40] Wusir2018 commented on #27
**Hey** @Rithwikksvr ,
**Thank you for your reply !**
**I can run `mean`, but I can't run `AFHMM` and `AFHMM SAC`. This is my code:**
![1](https://user-images.githubusercontent.com/51500032/83141851-df90f300-a122-11ea-8848-3a9cc7ba51f7.png)
![2](https://user-images.githubusercontent.com/51500032/83142163-f46d8680-a122-11ea-8f03-8b2ed272a440.png)

**But it stopped here:**
![3](https://user-images.g

[2020-05-28 12:49] Rithwikksvr commented on #27
Hey @Wusir2018

The  AFHMM and AFHMM-SAC take significantly longer times for generating the  testing predictions.

It takes a couple of hours to compute predictions for a single day

Also, us use a system with more CPUs

[2020-05-28 13:17] Wusir2018 commented on #27
Hey @Rithwikksvr ,
Thank you for your reply. It helps me a lot. It's my fault and my computer is poor.
I have a problem about `RNN,WindowGRU` with `AMPDs data`.
I can run `REDD data` with `RNN,WindowGRU`.
But I can't run `AMPDs data`, I think the sampling frequency of `AMPDs data` causes this problem. How can I solve this problem?

This is my code:
![1](https://user-images.githubusercontent.com/51

[2020-05-28 13:21] Rithwikksvr commented on #27
I'll run it once and get back to you by tomorrow

[2020-05-28 13:24] Wusir2018 commented on #27
Hi @Rithwikksvr ,
Thank you very much !
Best wishes !

[2020-06-19 11:38] levaphenyl commented on #18
It seems to be done in the `conda` branch.
@PMeira, what prevents your branch from being merged?

[2020-06-23 03:56] PMeira commented on #18
@levaphenyl People probably forgot. I personally wasn't really involved much in the contrib repo, so I didn't check it much.

I'll try to rebase it and merge it in a few days.

[2020-06-25 01:40] #18 closed

[2020-06-25 01:43] #25 closed

[2020-06-25 01:44] PMeira commented on #9
For future reference, nowadays prefer the conda package.

[2020-06-25 01:44] #9 closed

[2020-06-25 01:51] PMeira commented on #18
I updated and merged the branch, as well as uploaded a new conda package. Prefer using that if you're not developing nilmtk-contrib itself.

[2020-07-01 01:29] M-h-2019 opened #30 "Link failure"
hello,
   I want to know the paper of the disaggregationmethod, but the paper link you gave in the readme document is invalid, I hope you can update it, thank you.

[2020-08-05 11:40] Hocafa92 commented on #10
could we use nilmtk.global_meter_group[ElecMeterID(instance=18, building=1, dataset='REDD')] to choose the specific meter?

[2020-08-20 13:50] PMeira commented on #30
Thanks, I'll update the link -- that would be a copy of https://doi.org/10.1145/3360322.3360844
There's also https://aiforgood2020.github.io/papers/AI4SG_paper_50.pdf

[2020-08-20 13:50] #30 closed

[2020-08-24 01:02] PMeira commented on #28
Looks like something related to the datasets, maybe missing data due an error. I'd suggest trying with just one dataset first.

It's not clear from the repo but you need to have previously downloaded and converted the datasets (converted them using NILMTK). If you've done that, it's possible the conversion of one of them failed somewhere.

[2020-08-25 13:27] klemenjak opened #31 "AttributeError in WindowGRU"
Hi,

I was wondering if you are familiar with the following error in Window GRU:

[code]

Sometimes I get this error for test chunks that work fine for RNN or DAE.

Any idea?

best,
C

[2020-08-25 13:57] PMeira commented on #31
At this point, `test_main_list` should be a list of dataframes:

https://github.com/nilmtk/nilmtk-contrib/blob/de38dabf8c461ae01b9800546e5e147e44f3de18/nilmtk_contrib/disaggregate/WindowGRU.py#L76-L88

Looks like there's a missing conversion somewhere.

Note that the line numbers don't match (from the traceback, yours is at 147 while the version on master starts at 76), so you could be using a dif

[2020-08-25 13:59] PMeira commented on #28
Closing, probably a stale ticket.

[2020-08-25 13:59] #28 closed

[2020-08-25 14:05] PMeira commented on #22
@Wusir2018 This is an old issue but since the behavior is present in other issues, I have to say: please, never post code as pictures. You're making it harder for everyone -- do you really expect anyone that tries to help you to retype the code from a picture?!

[2020-08-25 14:32] klemenjak commented on #31
Indeed. Thanks for pointing this out! I will investigate…

best,
C

[2020-08-26 03:53] Wusir2018 commented on #22
@PMeira  Thank you for your advice, I'll bear it in mind. Thank you very much!
Best wishes!

[2020-08-26 08:50] klemenjak commented on #31
I checked my files. I added callbacks to partial fit some time ago, which explain why the line numbers don't match. Apart from that, the source files match. I remember having had this issue on several datasets with GRU and I don't quite understand why.

[2020-08-26 13:28] PMeira commented on #31
Hm... would you be able to share an example with any of the common datasets?

We need either something missing the conversion to dataframes or mutating the list, which I also couldn't find by inspection.

[2020-08-26 16:29] chaosimple commented on #27
Hi @Rithwikksvr,

I am new to this area, so I don't quite clear about what exactly does the AFHMM algorithm refer to?
Is it refer to the "Additive FHMM" or the "Approximate FHMM"?

[2020-08-26 18:26] PMeira commented on #22
With the current version, couldn't find any issue. I recommend checking if the dataset is converted correctly and the Python environment is correct.

Here's the text version of the code with minor changes:

[code]

and the output for the API call:

[code]

[2020-08-26 18:26] #22 closed

[2020-08-26 18:36] #21 closed

[2020-08-26 19:58] MingjunZhong commented on #27
@chaosimple I think it was referring to the additive FHMM model and the method solving it was an approximate method employing Second-Order Cone Programming (SOCP).

[2020-08-26 20:20] PMeira commented on #27
@chaosimple Check the README on the front page of the repository. The paper linked there should list the references: https://github.com/nilmtk/nilmtk-contrib/blob/master/README.md

(right now, the code is really missing some basic info as docstrings or comments)

[2020-08-27 04:31] Wusir2018 commented on #22
@PMeira Thank you very much!

[2020-08-27 14:05] klemenjak opened #33 "RNN default sequence length"
Hi,

not an issue, just a question. I recognized that the pre-set sequence length for RNN is 19, whereas it's 99 for all others. Is that on purpose? If so, why?

[code]

RNN works fine for me, I'm just curious why 19 is set as default.

best,
C

[2020-08-27 14:58] PMeira commented on #33
Apparently the commit that changed that was squashed with a bunch of other things: https://github.com/nilmtk/nilmtk-contrib/commit/36d4ec201ac7c77a3b5662fcc09548e0bfd53eee#diff-5292385d52af1868a9aa740238f71e71L37

@Rithwikksvr, do you remember that?

The original RNN paper uses larger sequences (still varying according to the appliance).

[2020-08-27 15:16] Rithwikksvr commented on #33
@PMeira  @klemenjak

I don't remember making the sequence length as 19.

There's no reason to choose the sequence length as 19. It must have been a mistake!

[2020-08-27 21:03] PMeira commented on #33
@Rithwikksvr Thanks for the quick reply!

From a glance, the other changes from the commit look good. Let's keep this open until that is checked and fixed. I have a clean-up draft at https://github.com/nilmtk/nilmtk-contrib/pull/32 and could add a commit there.

[2020-09-08 08:05] Ming-er opened #34 "DAE Normalize Input"
Hi! In dae.py, I find that std has been divided twice in the function "normalize_input". Is it a mistake or is it intentional?
Thank you!

[2020-09-08 08:27] levaphenyl opened #35 "Breaking change in Keras 2.4: AttributeError: 'ModelCheckpoint' object has no attribute '_implements_train_batch_hooks'"
Since keras-2.4 and tensorflow-2.3, all `import keras` statements must be replaced by `import tensorflow.keras` as stated on [SO](https://stackoverflow.com/a/62460288/8289769). This is due to an internal change in the library that [break earlier installations](https://github.com/keras-team/keras/issues/14129). See also [here](https://github.com/tensorflow/tensorflow/releases/tag/v2.3.0).

Two solu

[2020-09-11 08:48] levaphenyl opened #36 "AFHMM+SAC: parameter chunk_wise_training is hardcoded"
In the `AFHMM_SAC` class [`__init__`](https://github.com/nilmtk/nilmtk-contrib/blob/master/nilmtk_contrib/disaggregate/afhmm_sac.py#L38) function, the parameter `chunk_wise_training` is hardcoded.
Consequence: the AFHMM+SAC will be trained jointly, no matter what the user specified. Handy, when the training data does not fit in RAM :).

This issue is just for referencing, I will open a PR.

[2020-09-14 11:37] Wusir2018 opened #39 "problem of "call_preprocessing""
Hello everyone,
I have some question about "call_preprocessing" in all deep learning methods.
1. The `call_preprocessing` of methods to process the data, but why fill in the `mains` data and `appliance` data? Could you give me the paper that uses this method to process data?

[code]

[code]

2. What is the reason for setting value of `sequence_length`，`mains_mean` and `mains_std`?  Why set `sequen

[2020-09-15 08:31] levaphenyl commented on #39
### Question 1
Padding is due to the very nature of window-based algorithms. For instance, for Seq2Point, the algorithms takes a window (array) as an input and outputs a single value. Thus, you need a window *for each point to infer*.
In
`new_mains = np.pad(new_mains,(units_to_pad,units_to_pad),'constant',constant_values=(0,0))`
the method is given an array of lenght *L* to infer another array of

[2020-09-15 09:01] levaphenyl commented on #27
Note: processes of AFHMM and AFHMM+SAC should be [daemonic](https://docs.python.org/3/library/multiprocessing.html#multiprocessing.Process.daemon). In case the OS kills the main process, e.g. because of memory pressure, the current implementation leaves tons of wild orphaned processes behind.

[2020-09-15 16:11] levaphenyl opened #40 "AFHMM+SAC - ValueError: matmul: Input operand 0 does not have enough dimensions"
When infering with AFHMM+SAC, one disaggregation thread can fail. This happens to the disaggregation thread that deals with the incomplete block, i.e. with the tail of the chunk. The failure happens during the [optimization](https://github.com/nilmtk/nilmtk-contrib/blob/master/nilmtk_contrib/disaggregate/afhmm_sac.py#L258). The solver does not find any suitable constraint for the appliance and ret

[2020-09-16 02:05] Wusir2018 commented on #39
@levaphenyl
Thank you very much! 👍
Best wishes!

[2020-09-22 09:23] levaphenyl opened #42 "AFHMM & AFHMM+SAC - Training chunkwise only uses the last chunk"
Each call of `partial_fit` for AFHMM and AFHMM+SAC is overriding the results of the previous calls. Thus, a chunkwise training of those algorithms does not work as intended. The current implementation trains only on the last chunk.

The model parameters for AFHMM and AFHMM+SAC are `self.means_vector`, `self.pi_s_vector` and `self.transmat_vector`. However, these attributes are assigned [again](htt

[2020-09-28 11:37] akritikts opened #44 "changes to plot in api.py, not reflected"
for i in gt_overall.columns:

                plt.figure()
                #plt.plot(self.test_mains[0],label='Mains reading')
                plt.plot(gt_overall[i],label='Ground Truth')
                for clf in pred_overall:
                    plt.plot(pred_overall[clf][i],label=clf)
                    plt.xticks(rotation=90)
                plt.title(i)
                plt.legend()

[2020-10-06 18:23] Rithwikksvr commented on #42
Yes @levaphenyl , you are right. We didn't design this to support chunk wise training. So, I think thats the reason

[2020-10-06 18:24] Rithwikksvr commented on #42
The reason being the algorithm is more time consuming on the test set, and is not very intensive in the training

[2020-10-06 18:26] Rithwikksvr commented on #39
Yes, @levaphenyl  is right

Those are default values, no specific reason as to why we chose them

[2020-10-06 18:26] #39 closed

[2020-10-06 18:27] Rithwikksvr commented on #36
Yes, if we want to make it support multi chunk training, then we need to compute the average of A, B, Transition matrix over the different chunks

[2020-10-06 18:29] Rithwikksvr commented on #36
Feel feel to submit a pull request. But, @nipunbatra or @MingjunZhong  can tell if computing the average values over different chunks is a good idea or not

[2020-10-06 18:29] #36 closed

[2020-10-06 18:32] Rithwikksvr commented on #34
Hey @Ming-er , I think that is mistake on our end. We will resolve it ASAP. We just need to divide it once. Thanks for pointing out!

[2020-10-06 18:35] Rithwikksvr commented on #27
But @levaphenyl , do you know any fix we can use for thiis?

[2020-10-07 06:29] levaphenyl commented on #36
Understood. I will adapt the PR with the changes.

[2020-10-07 08:23] levaphenyl commented on #36
PR is [open](https://github.com/nilmtk/nilmtk-contrib/pull/37). Any review is appreciated.

[2020-10-07 08:24] levaphenyl commented on #27
Yes, @Rithwikksvr. I use `multiprocessing.Pool` in my [PR](https://github.com/nilmtk/nilmtk-contrib/pull/37).

@klemenjak, I refactored AFHMM+SAC to use all CPUs - 1. Is it compatible with your original intent?

[2020-10-12 06:09] oneway3124 opened #45 "whether or not the dataset is handled by the dataset_converter to the hdf5 files and is also supplied for the research community?"
Hi Sir,

whether or not the dataset is handled by the dataset_converter to the hdf5 files and is also  supplied for the research community?

Or else, there is still few researcher who can use the nilmtk and nilmtk-contrib for research.
And the phenomenon will continue to exist, "few pubilication presenting algorithmic contributions within the field went on to contribute implementations back to the

[2020-10-12 06:21] oneway3124 commented on #45
I have converted three dataset by using the dataset_converters python scripts. The preprocessed dataset by me is as follows,
redd.hdf5, ukdale, ampds,
But the dataport and some other datasets cannot be preprocessed by us easily.
I greatly appreciate all your comments, help and suggestions about the dataset.

The successful train and test of REDD snapshot is as the figure shows.
![REDD_CO+DAE](http

[2020-10-15 17:29] aalkhulaifi605 commented on #45
@oneway3124  Can you share the preprocessed redd dataset with me? I am working on a research and I noticed in some work they use redd dataset that preprocessed in some way. I tried to reproduce their results with the redd dataset (that is in nilmtk format) but always fail.

Also, there is a big gap in the data of house 1 main while in that same period there exist data for the aplliances. Similar g

[2020-10-21 13:50] oneway3124 commented on #45
If you want to get the preprocessed redd dataset,  I can give you via the email or pan.baidu.com?

Thanks a lot!
Best Regards,
Wireless Sensor Networks, School of Computer Science, Sichuan University.

Wang Wei(王伟)，  |mobile: +86-159-0810-6107 | email: wang.david.wei@stu.scu.edu.cn, 190025935@qq.com

[2020-12-02 15:36] #35 closed

[2020-12-06 20:46] JoseDosSantos opened #46 "Train Test Split in RNN"
Hi!
Since the latest update which switched from sklearn train_test_split to the built in keras method the RNN implementation doesnt work anymore, presumably because the fit function still takes train_x and train_y as inputs, which should be train_main and power respectively instead. Should be easy to fix :)

[code]

Cheers!

[2020-12-15 13:36] eddie-LA commented on #24
I have the same problem...

[2020-12-29 17:15] Raymundo1 opened #47 "Wrong comment in `NILMTK API Tutorial.ipynb` notebook"
Hi,
        I'm trying to correctly understand the implementation of nilmtk-contrib. From `NILMTK API Tutorial.ipynb` notebook `In [3]:`, the sample rate in experiment1 is 60. The comment below `In [3]:` describes that you have set the sample rate at 60Hz. The highest resolution for dataport dataset is 1Hz. I think the comment should be changed to you have set the sample rate at 1/60Hz.

Please co

[2020-12-31 20:17] PMeira commented on #45
I'll try to look into this but unfortunately we don't own most of the datasets, we can't just rehost them unless they have a clear license (lots of them don't). I opened https://github.com/nilmtk/nilmtk/issues/909 to track and discuss this in 2021.

See https://github.com/nilmtk/nilmtk/issues/873 (and https://github.com/Pecan-Street/DataPort-Examples/issues/1 -- no replies so far) -- we probably w

[2020-12-31 20:17] #45 closed

[2020-12-31 20:19] PMeira commented on #44
I don't see how that's a NILMTK-contrib or even NILMTK issue.

[2020-12-31 20:19] #44 closed

[2020-12-31 22:11] PMeira opened #48 "Update and fix examples"
They don't run as-is and there are some other problems reported in other issues.

We should also remove the PS Dataport or reduce its use in the examples due to issues reported in https://github.com/nilmtk/nilmtk/issues/873

[2020-12-31 22:11] PMeira commented on #46
Yep, thanks @JoseDosSantos! Indeed a simple fix.

[2020-12-31 22:12] #46 closed

[2021-01-05 10:54] levaphenyl commented on #24
@eddie-LA Thank you for the analysis! This looks like a bug in the class `API` indeed.
The design question there is the expected output of the API. What is the metric value when predicting 3 different time series?

The current approach is to concatenate all time series, also in the regressor implementation of `nilmtk-contrib`. However this mixes values from different units (W, VA, etc.) which has

[2021-01-08 02:22] oneway3124 opened #50 "DSC algorithm cannot convergence before the arrival of the maximal times."
For optimization problem,  it is trustworthy that the optimization procedure should be completed ASAP.
But DSC algorithm cannot convergence before the arrival of the maximal times. Why?

[2021-01-11 20:26] Rithwikksvr commented on #47
Yes! You are right @Raymundo1 ! It needs to be changed!

[2021-01-11 20:30] Rithwikksvr commented on #50
@oneway3124 , the operations involved in the problem are very computationally expensive. And for each appliance each of those operations need to be executed. Hence, it is taking more time for training. How is the performance when a smaller dataset is used?

[2021-01-11 20:39] Rithwikksvr commented on #48
@PMeira  @levaphenyl  I can help with writing the notebooks. Just, one quick question. Currently, we have nilmtk-contrib which is under-development and nilmtk-contrib which is hosted on anaconda cloud.

For which of these nilmtk-contrib versions should I start writing the tutorial notebooks? Post, completion I can send a PR.

Also, I think we can use REDD dataset and DRED dataset. We can also link

[2021-01-11 22:12] PMeira commented on #48
The development version would be better. If that works for you without major issues, we can release another version (maybe after #37?), with a matching NILMTK.

Yep, I believe I just copied the notebook at the time.

OK. From https://github.com/nilmtk/nilmtk/pull/850, AMPds2 includes a HDF5. If that works, it could also be an alternative.

Some of the notebooks from the Buildsys 2019 paper don't r

[2021-01-12 06:28] levaphenyl commented on #48
I agree the example should work with the `master` branch.

Advantage of REDD is the stability: the dataset authors are not breaking the converter.

[2021-01-14 12:56] Eno-Haicheng opened #51 "Across Homes/DataSet Neurals issue"
Hello,

I'm new user of nilmtk, now i try to use seq2point neural network. I try to train (across home) the model of seq2point with the data of building 1 and building 2 of  dataset ukdale. But the value of loss did not improve from INF.  I try with redd dataset too, i got aways the same problem.

I'm not a expert on neural network, would it be possible to let me know how to solve this problem ?

[2021-01-21 19:33] eddie-LA commented on #24
I was mainly interested in 1 in my case. I wanted to experiment with the algorithms in NILMTK and how they fare against Makonin's Temporal Convolutional architecture [here](http://makonin.com/doc/ICASSP_2019.pdf). He shows that reactive power is more useful as a disaggregating metric but since customers are billed for active power, it seems counterproductive to disregard it. It has its uses and th

[2021-01-22 07:02] levaphenyl commented on #24
Interesting research!
If I understand it well, you need `NILMTK` and `nilmtk-contrib` to accept active and reactive power as input. As output the algorithms in your research are only infering the active power. I that right?
We thus have multi-channel in and single-channel out.

[2021-01-26 09:30] eddie-LA commented on #24
Correct! Active power is the only usable output metric, but not the only usable input metric.

[2021-03-10 01:52] WeiJiN-UQ opened #52 "About the version of nilmtk-contrib"
Hi!
I have three problems with NILMTK-contrib.
1. My dataset has no 'apparent' ac_type, when I use
`experiment1 = {
  'power': {'mains': ['active'],'appliance': ['active']},
  'sample_rate': 60,
`
the error :
`nilmtk.exceptions.MeasurementError: AC type '['active']' not available. Available columns = [('power', 'apparent')]. `
`ModuleNotFoundError: No module named 'tensorflow_core.estimator'`

2.

[2021-03-25 02:09] PMeira commented on #52
That's weird. I couldn't say much about that.

I think the breaking changes from tensorflow 2.4 are responsible for that. Try downgrading tensorflow to 2.3 or 2.2.

We have nilmtk-contrib 0.1.1 available on conda. The development version is "0.1.2.dev...", that might be it. You can pass a version explicitly to conda to force it to install the correct one.

We'll probably release a 0.1.2 though to

[2021-03-25 02:11] PMeira commented on #52
By the way, we have a badge/image in the [README.md](https://github.com/nilmtk/nilmtk-contrib/blob/master/README.md) that lists the latest version available in conda:

[![conda package version](https://anaconda.org/nilmtk/nilmtk-contrib/badges/version.svg)](https://anaconda.org/nilmtk/nilmtk-contrib)

[2021-03-25 05:56] oneway3124 opened #53 "what happen to the nilmtk environment ?"
Hi sir

conda create -n nilmtk-contrib-dlsc -c conda-forge -c nilmtk nilmtk-contrib

jupyter notebook

What happen?
![微信截图_20210325135343](https://user-images.githubusercontent.com/3787176/112425806-ac82b480-8d71-11eb-95a4-3472b977ac1f.png)

But some days ago, it is not this state.

[2021-03-25 06:42] PMeira commented on #53
Yikes! Looks like conda is buggy, as usual. It's still giving priority to old versions of the packages. For the time being, I just removed the old packages from the installation list to avoid this issue (they're now under the "retired" label, we can restore them later or the users can use the label explicitly if they really need old versions), but then it's installing very odd versions for some of

[2021-03-25 07:05] oneway3124 commented on #52
But my tensorflow version is as follow,

tensorflow                1.14.0               h39a9291_0    conda-forge
tensorflow-base           1.14.0           py36h9f0ad1d_0    conda-forge
tensorflow-estimator      1.14.0           py36h5ca1d4c_0    conda-forge
![Uploading 微信截图_20210325150524.png…]()

[2021-03-25 11:42] oneway3124 commented on #53
I have tried to reinstall the conda environment completely. Wait for some new message.

[2021-03-25 13:18] PMeira commented on #52
Please just give me the complete output of the `conda list` command then...

[2021-03-25 13:20] oneway3124 commented on #52
This problem is fixed by reinstalling the conda environment.
Thx!

[2021-03-25 13:29] PMeira commented on #52
@oneway3124 Nice! Thanks for the update.

[2021-03-25 17:31] WeiJiN-UQ commented on #52
@PMeira Thank you, Paulo！ I have resolved these problems via modified my metadata. And, by the way, what version of matplotlib do you recommend? When I use API.py, you can see the first picture, the axis starts at 11-18 14. Actually, my test time setting is 11-18 to 11-19. But, in the second picture, I use the same .h5 file but no API.py, which is correct. My data time is Brisbane timezone, So, in

[2021-03-25 18:00] PMeira commented on #52
@WeiJiN-UQ Hm... I didn't notice that before with the API. I created another issue at https://github.com/nilmtk/nilmtk/issues/920

The issue you see stems from a limitation of matplotlib. When plotting through pandas, pandas handles the tzinfo correctly before passing it to matplotlib. When plotting directly through matplotlib, it discards the tzinfo, like the API.py plots. In the legacy plots, we

[2021-03-25 18:23] WeiJiN-UQ commented on #52
@PMeira Resolved! Thank you very much again!

[2021-03-25 18:29] #52 closed

[2021-03-30 12:12] oneway3124 commented on #26
why not fix it in new version?
scikit-learn     0.21.3
h5py               2.10.0

[2021-03-30 12:13] oneway3124 commented on #26
In new version, it doesnot work for this baseline algorithms.

[2021-04-02 03:16] oneway3124 commented on #53
@PMeira Can you help me about this reinstall?

[2021-04-22 03:42] oneway3124 opened #54 "In FT2Font: Can not load face"
---------------------------------------------------------------------------
RuntimeError                              Traceback (most recent call last)
C:\ProgramData\Anaconda3\envs\t1\lib\site-packages\IPython\core\formatters.py in __call__(self, obj)
    339                 pass
    340             else:
--> 341                 return printer(obj)
    342             # Finally look for special m

[2021-04-22 03:44] oneway3124 commented on #54
After I create the conda environment , I find that this issue as the above.

conda create -n t1
conda activate t1
conda config --add channels conda-forge
conda config --add channels nilmtk
conda install nilmtk-contrib

Then I run the jupyter notebook.

[2021-04-22 03:46] oneway3124 commented on #54
In the API class __init__ function, this code change is as follows.
self.site_only = params.get('site_only',True)

[2021-04-22 09:21] oneway3124 commented on #53
This error is still .
AttributeError: 'str' object has no attribute 'decode'

[2021-04-22 09:22] oneway3124 commented on #50
This convergence problem has been fixed by me.  Maybe your argmin error representation is wrong.

[2021-05-18 06:26] w52191 opened #55 "Uable to run example notebook "Using the API with NILMTK-CONTRIB""
Hi,
I installed the nilmtk-contrib on both Windows 10 and Ubuntu16.04 (runing in a virtual box in win10) with:

`conda create -n nilm -c conda-forge -c nilmtk nilmtk-contrib`

Then, I run the example notebook "Using the  API with NILMTK-CONTRIB",
[code]

I got the following error in both win10 and ubuntu system:
`api_res = API(redd)`
[code]
Any idea what's the error?

And I got the data set "redd.

[2021-05-18 07:11] w52191 commented on #55
I was stupid, just change the dataset name to "REDD" and change the start_time and end_time to a reasonable value according to the REDD dataset. Then, it worked fine.

[2021-05-18 07:11] #55 closed

[2021-05-18 11:08] w52191 opened #56 "WindowGRU training error"
Hi,
I tried to run the following code:

[code]

Then, I got the error after the training was done:

`api_res = API(redd)`

[code]
Any idea what's the issue? Keras version is wrong?

And here is my package list:
[code]

[2021-05-19 01:43] w52191 commented on #56
Just downgrade the h5py to version 2.10, it worked fine:
`pip install h5py==2.10`

[2021-05-19 01:43] #56 closed

[2021-05-29 07:26] w52191 opened #57 "Run the example notebook "Using the API with NILMTK-CONTRIB" with GPU"
Hi,
Anyone succuessfully run "Using the API with NILMTK-CONTRIB" recently? I used

`conda create -n nilm -c conda-forge -c nilmtk nilmtk-contrib`
`conda install cudatoolkit=11.0 cudnn`
`pip install tensorflow-gpu==2.4.0`

to install the virtual evn. Then, when I tried to run the code, I got the warning:

[code]
Any idea how to solve the issue? It's slower than CPU (takes aroud 45s/epoch).

My conf

[2021-07-26 12:48] Rohitkr1997 commented on #57
I am facing a similar problem. Did you get solution to your problem?

[2021-07-26 14:16] rgtzths opened #59 "WindowGRU - padding"
The padding in the window-gru is added at the end of the mains instead of the beginning. Is this the supposed behavior?

[2021-07-26 14:54] w52191 commented on #57
Unfortunately, no!

[2021-09-10 19:23] rpolea opened #60 "API Error - Neural Net 2 input tensors"
Hi,

I've been trying out some of the neural nets from the API documentation and I get the same error no matter which dataset I am using or what example I use. Currently tearing my hair out!

I have converted the REDD dataset to HDF5 using the documentation and then tried to feed it into the API as below. I've also pasted the error below.

from nilmtk_contrib.disaggregate import DAE,Seq2Point, Seq

[2021-09-11 00:43] nipunbatra commented on #60
@hetvi0609 can you try to replicate this?

@rpolea can you provide the versions for Tensorflow, Keras, etc.?

[2021-09-11 18:43] hetvi0609 commented on #60
@rpolea  Hi! Can you try the code again by changing the following line in eg:- WindowGRU.py, rnn.py etc:-
[code]
You need to add the validation data as a tuple rather than a list. I think this will solve your problem. I have implemented it again and was able to get the results.

[code]
Output
[code]

[2021-09-14 18:34] rpolea commented on #60
Hi,

Thank you for getting back to me with a solution. I made the changes as you suggested and the model now runs however when the model finishes running I get another error.

`---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-7-582464832bf9> in <module>
----> 1 API(redd)

~\Anacond

[2021-09-15 13:56] hetvi0609 commented on #60
@rpolea
Please refer to the issue #56

[2021-09-21 16:16] rpolea commented on #60
Hi,

Sorry for the delay but wanted to say I've done as you've suggested and now all the workbooks are running. Thank you so much for you help!

[2021-09-21 16:16] #60 closed

[2021-10-12 14:27] BRCH5 opened #61 "Saving and loading pre-trained neural networks models"
Is it possible to save and subsequently load pretrained neural network models as is the case for the mean algorithm?

[2021-10-24 21:00] rpolea opened #62 "Training on multiple datasets"
Hi,

I am wondering if it is possible to train on several different datasets and then test using the API? I've played around but keep getting errors so unsure whether this is something that isn't possible using just the API.

I've provided an example below of some of the code I've tried running.

[code]
I've attempted the code above as an example and recieved an error
[code]

[2021-11-01 12:44] hetvi0609 commented on #62
Hi @rpolea
DRED dataset exists from 2015-07-05 to 2015-12-05. In the above code, the test dataframe for DRED dataset is empty for the given time. By changing the start and end time for DRED dataset the code will generate output without any error.

[2021-11-02 07:15] rpolea commented on #62
Hi @hetvi0609,

Such a silly mistake I was making. Thank you so much for helping me!

It is all working as expected.

[2021-11-02 07:15] #62 closed

[2021-11-05 09:15] #61 closed

[2022-03-02 10:00] cemik1 opened #64 "nilmtk-contrib installation failed"
I can not install nilmtk-contrib package. Installed libraries and listing below. What could be a problem?
System - win10 64-bit
conda 4.11.0

# packages in environment at C:\Users\710_004733\Anaconda3\envs\nilmtk-env:
# Name                    Version                   Build  Channel
nilmtk                    0.4.3                      py_0    nilmtk
scikit-learn              1.0.2            py38

[2022-03-03 15:54] dengjinyu123 opened #65 "The error I'm getting using the bert method"
Has anyone encountered the following error?
2022-03-03 23:42:05.100902: I tensorflow/stream_executor/platform/default/dso_loader.cc:44] Successfully opened dynamic library cudart64_101.dll
Using TensorFlow backend.
2022-03-03 23:42:08.117155: I tensorflow/stream_executor/platform/default/dso_loader.cc:44] Successfully opened dynamic library nvcuda.dll
2022-03-03 23:42:08.130097: E tensorflow/strea

[2022-03-03 16:38] nipunbatra commented on #65
Requesting @hetvishastri to look into this.

[2022-03-13 19:41] rpolea commented on #64
@nipunbatra @hetvishastri Not sure if this is something you could advise on?

I installed and successfully used nilmtk-contrib months ago. I've now had to go back and install on a new Windows PC and seem to be encountering the same issue as the user above.

Not sure what is happening but conda just will not install any version of nilmtk-contrib and none of the installation steps on the repo work.

[2022-03-13 20:18] rpolea commented on #64
Ok @cemik1 I think I have just managed to get this to work by creating the dedicated environment within conda and installing nilmtk and nilmtk-contrib at the same time. I believe conda finds the appropriate installs to use when calling both and in the new environment there shouldn't be any conflicts. I was having issues before as I did nilmtk first and then tried to install nilmtk-contrib into the

[2022-03-18 06:39] sastry3009 commented on #57
@w52191  The problem will happen because of you install the Cuda toolkit and TensorFlow GPU separately use the following command to create the environment it will solve your issue

conda create -n tf-gpu-cuda8 tensorflow-gpu cudatoolkit

also refer
https://docs.anaconda.com/anaconda/user-guide/tasks/tensorflow/

[2022-03-25 16:28] ommaheshwari commented on #53
@oneway3124
how did you tackle
AttributeError: 'str' object has no attribute 'decode'?

[2022-04-06 11:58] WKKO commented on #34
![image](https://user-images.githubusercontent.com/102801456/161969644-b385b81c-9bcc-4edf-9210-154ef3836386.png)

[2022-04-06 12:00] WKKO commented on #16
Sorry to bother you. Did you encounter this error when running the code
![image](https://user-images.githubusercontent.com/102801456/161969918-5d86dc1f-52ec-4a99-b047-222c24f50ded.png)

[2022-04-07 01:26] paulfrank1997 commented on #65
Can I ask you about what version of tensorflow, h5py and keras you install? The original nilmtk-contrib does not contain tensorflow. But after I tried to install it by myself, I still got errors. So I was wondering whether that was caused by version problems.

[2022-04-07 01:30] paulfrank1997 commented on #64
@rpolea  Can I ask you about what version of tensorflow, h5py and keras you install? The original nilmtk-contrib does not contain tensorflow. But after I tried to install it by myself, I still got errors. So I was wondering whether that was caused by version problems.

[2022-04-09 09:31] b-y-f opened #66 "Install error in dockerfile"
#39 1.179 Collecting package metadata (current_repodata.json): ...working... done
#39 3.623 Solving environment: ...working... failed with repodata from current_repodata.json, will retry with next repodata source.
#39 4.509 Collecting package metadata (repodata.json): ...working... done

#39 21.63 Found conflicts! Looking for incompatible packages.
#39 21.63 This can take several minutes.  Press C

[2022-04-09 09:35] b-y-f commented on #66
already installed nilmtk without problem

[2022-04-11 08:59] mmeism opened #67 "nilmtk.exceptions.MeasurementError: AC type 'apparent' not available. Available columns = [('power', 'active')]"
I have converted the Refit dataset with the convert_refit function resulting in a refit.h5 file.
Now I have a problem when setting up an experiment with the refit.h5 file.

error code:
Traceback (most recent call last):
  File "C:/Users/mime02/PycharmProjects/EnergyPredictionLSTM/Evaluation/NILMTK/NILMTK_con.py", line 168, in <module>
    api_res = API(refit)
  File "C:\Users\mime02\Anaconda3\envs

[2022-04-19 21:06] Rohitkr1997 commented on #65
Hey can anyone using BERT send the enivronment .yml file so that others can use it. There always seems to be conficts in the anaconda environment when getting bert to work.

[2022-04-19 23:05] Rohitkr1997 opened #68 "Bert not working properly"
Can anyone upload the environment.yml or the versions of keras, tensorflow, nilmtk, nilmtk-contrib as bert requires keras.layers.multi_head_attention and it does not work properly with the versions of keras used after conda installing nilmtk and nilmtk-contrib. upgrading keras and tensorflow causes conflicts after which nilmtk cannot be used.

[2022-04-19 23:20] Rohitkr1997 commented on #68
Or anyone who has working version of bert please can you upload the output of conda list.

[2022-04-25 02:27] paulfrank1997 commented on #68
You need tensorflow2.5.0 or higher version of it. Since keras is already a inner part pf tensorflow2.5.0, you don't need to install keras individually.

[2022-04-25 05:54] Rohitkr1997 commented on #68
I have tried using tensorflow version 2.6.0 but the environment has conflicts which creates problems. Could you please upload your environment.yml file or share the result of conda list so that I have a proper environment where everything works

[2022-04-25 07:39] Rohitkr1997 commented on #68
If you share all the different packages you're using then I could just use your anaconda environment and avoid all the different conflicts that are in my environment.

[2022-04-26 01:48] paulfrank1997 commented on #68
All you need is to uninstall Keras in the original environment, install tensorflow2.5.0 and upgrate hdpy into the latest version. Then you have to make some changes about the import of the modules. For example, you have to change "import keras.XXX" into "import tensorflow.keras.XXX", and change "import keras.layers.XXX" into "import tensorflow.keras.layers".

------------------&nbsp;原始邮件&nbsp;----

[2022-04-30 06:54] WKKO opened #69 "object has no attribute 'normalize' problem"
Why do I have this problem when testing the code
Is it because of the NITK version(0.4.0)
![073f00f245867581c40d39ae0324629](https://user-images.githubusercontent.com/102801456/166095338-3bf8ea56-c1ad-4d31-874b-412bf65f43a5.png)

[2022-05-19 11:43] habring opened #70 "You're calling a NumPy function on a CVXPY expression."
When I try to apply the trained method afhmm to new data I get the following error:

I think I have narrowed down the issue already. Apparently in line 157 in nilmtk_contrib/disaggregate/afhmm.py you do something like
`numpy array += cvxp variable @ numpy array`

I think since the left-hand side of the += is a numpy array, the operator @ is interpreted as a numpy function and then the error is rai

[2022-05-20 07:42] habring commented on #70
I could resolve this by donwgrading cvxpy to version 1.0.

[2022-05-20 07:42] #70 closed

[2022-05-20 08:05] habring opened #71 "CHanging package dependencies"
Hey there,

I want to use the discriminative sparse coding method and get the error:

I could solve this issue by downgrading scikit-learn. I had a similar issue with cvxpy. I recommend, setting the dependencies to

instead of

Best,
Andi

[2022-05-24 23:35] b-y-f opened #72 "Can I use it to get if the household has electric vehicle?"

[2022-05-24 23:59] #72 closed

[2022-05-31 19:29] camilomarino opened #73 "Bert model training procedure"
Hey there,

I wanted to confirm some doubts that came to my mind when reviewing together the source code (https://github.com/nilmtk/nilmtk-contrib/blob/master/nilmtk_contrib/disaggregate/bert.py) and the paper (http://nilmworkshop.org/2020/proceedings/nilm20-final88.pdf):
1.  The loss function: I think I understand that the loss implemented in the code is the MSE, but in the paper they propose mor

[2022-06-10 00:47] Rebecca29 commented on #57
Hi, I encountered the same issue when i run the API,  I have installed both of these two packages in the same environment. This command seems like also to create a new env and install these 2 packages.  May I ask where is the difference?

[2022-06-10 00:52] Rebecca29 commented on #57
Is there any update for this issue? I tried all the ways online, it's still not working.

[2022-06-13 07:41] sastry3009 commented on #56
I tried nilmtk-contrib with multiple homes in REDD dataset as following

redd = {
  'power': {
    'mains': ['apparent','active'],
    'appliance': ['apparent','active']
  },
  'sample_rate': 60,

  'appliances': ['fridge', 'light', 'dish washer', 'sockets', 'microwave'],
  'methods': {

     'DAE':DAE({'n_epochs':10,'batch_size':128}),

 #     'Mean': Mean({}),

  },
   'train': {
    'datasets':

[2022-06-15 15:56] Rebecca29 commented on #70
Hi, I encountered exactly the same issue, I tried downgrading by
pip install -I cvxpy==1.0.xx
or pip install cvxpy==1.0.xx,
I tried a lot of 1.0 versions, all the installations are failed. Could you tell which version you installed?

[2022-06-15 16:05] habring commented on #70
Hi,

I'm not 100% sure anymore. But maybe try the following.

1. Create a fresh conda environment.
2. Use conda to install scikit-learn=0.21, keras=2.2.4, and cvxpy=1.0.0.
3. Afterwards install nilmtk-contrib via `conda install -c conda-forge -c nilmtk nilmtk-contrib`

Also, generally when I am forced to work with conda, like in this case, since nilmtk uses conda as an environment manager, I try t

[2022-06-16 22:56] CarlosCedeniio commented on #61
Hi, How do I achieve this?

[2022-06-17 21:15] Rebecca29 commented on #70
Thank you for your env info, the DSC finally can run now, but the AFHMM and AFHMM+SAC cannot work anymore... Maybe because of the downgrading of Keras? I'm on the verge of breaking down now...

[2022-07-29 09:05] lemon0509 commented on #69
I also encountered the sample problems. Have you solved it?

[2022-08-04 11:28] ZztLn opened #74 "The metrics question"
Hey there,
  I see f1score set  threshold = 10，so  I want to know the meaning of this.
`def f1score(app_gt, app_pred):
    **threshold = 10**
    gt_temp = np.array(app_gt)
    gt_temp = np.where(gt_temp<threshold,0,1)
    pred_temp = np.array(app_pred)
    pred_temp = np.where(pred_temp<threshold,0,1)

    return f1_score(gt_temp, pred_temp)
`

  Thank you ,very much!

[2022-08-05 04:13] BillyLiii commented on #15
Hi, where did you change this parameter?

[2022-08-09 08:47] xuuurq commented on #68
@paulfrank1997   Hello, I installed tensorflow 2.5.0, and h5py is currently updated to the latest 3.7.0, but an error is reported after running, prompting ImportError: `save_model` requires h5py, I would like to know which version of h5py you installed. Thank you.Below is the result of running.
`D:\anaconda3\envs\nilmxu\python.exe D:/mywork/nilmtkcontribxu/nilmtk_contrib/disaggregate/fuhefenjie.py

[2022-08-09 12:07] paulfrank1997 commented on #68
哈哈，兄弟你是国人吧？我当时也是save_model&nbsp;requires h5py这个错误，我直接
pip install --upgrade h5py

而且还只是升级到3.6.0，后面就可以跑了

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2022年8月9日(星期二) 下午4:47
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [nilmtk/nilmtk-contrib] Bert not working properly (Issue #68)

@paulfrank1997   Hello, I installed tensorflow 2.5.0, and h5p

[2022-08-09 12:21] paulfrank1997 commented on #68
@xuuurq I met the same problem as you did: "ImportError: save_model requires h5py". But after I upgrate hdpy into the latest version by "pip install --upgrade h5py", the problem got solved. The version of h5py I used  is 3.6.0, and now everything worked fine.

[2022-08-11 13:15] xuuurq commented on #68
@paulfrank1997 Sorry to bother you again, I think there are a few more questions:
1. Are you using tensorflow-gpu version 2.5.0?
2. The bert model in nilmtk-contrib is different from the code in the BERT4NILM paper, which is reflected in the loss function and mask processing. Is the bert model in nilmtk-contrib without mask processing?
3. In addition, I would like to ask you what do you think of t

[2022-08-12 12:36] xuuurq commented on #73
Hello, sorry to bother you.I would like to ask if you have solved this problem.The bert model in nilmtk-contrib is different from the code in the BERT4NILM paper, which is reflected in the loss function and mask processing. Is the bert model in nilmtk-contrib without mask processing?
thank you very much.

[2022-08-12 12:37] xuuurq commented on #73
@camilomarino Hello, sorry to bother you.I would like to ask if you have solved this problem.The bert model in nilmtk-contrib is different from the code in the BERT4NILM paper, which is reflected in the loss function and mask processing. Is the bert model in nilmtk-contrib without mask processing?
thank you very much.

[2022-10-11 07:06] paulfrank1997 commented on #68
All you need is to uninstall Keras in the original environment, install tensorflow2.5.0 and upgrate h5py into the latest version. Then you have to make some changes about the import of the modules. For example, you have to change "import keras.XXX" into "import tensorflow.keras.XXX", and change "import keras.layers.XXX" into "import tensorflow.keras.layers".

------------------ 原始邮件 --------------

[2022-10-28 02:51] chencjiajy commented on #59
I also have question about the padding is added at the end of the mains in WindowGRU code,  it means window look at data after the target consumption time point.
but in windowGRU paper

[2022-11-19 09:57] CreateAWorld2 opened #75 "installation issue"
I have some installation problems：

Before installing the nilm-contrib package, my virtual environment is as follows:
The python version：3.8
cuda version：11.6
cudnn version：8.6.0
nilmtk：0.4.0 (However, in the conda environment, it will be displayed as: nilmtk-0.4.0.dev1+git.303d45b)
pandas：0.25.3, numpy：1.13.3, Keras：>=2.4, tensorflow-gpu：2.4.0

There is a package conflict problem when installing

[2022-11-20 12:21] CreateAWorld2 commented on #75
The environmental problem was finally solved.
I reinstalled a virtual environment using conda, and the python version is 3.7 (the 3.8 I used before). Then install the older version of `tensorflow` first, then install `nilmtk`, and finally `nilm-contrib`. In addition to installing `nilm-contrib`, the error about Keras is reported during the whole process (but it seems to have no effect). Then check

[2022-11-29 02:20] CreateAWorld2 commented on #75
It took a lot of time to finally install all the environments. The installation process is as follows😀😀:

1. First create the virtual environment of python3.7 in conda
2. Use `conda install tensorflow-gpu=1.14.0` to install the tensorflow package
3. Use `conda install -c nilmtk nilmtk` to install the nilmtk package (it is recommended to add conda-forge to conda channels)
4. Download the nilm-contr